<h1>New Place</h1>

<form action="/places" method="post">
  <p>
    <label for="name">Name</label>
    <input type="text" name="name">
  </p>
  
  <p>
    <label for="Date">Date</label>
    <input type="text" name="Date">
  </p>

    <p>
    <label for="Description">Description</label>
    <input type="text" name="Description">
  </p>
  <button>Submit</button>
</form>